<p-table
  [columns]="columns"
  [value]="pigs"
  class="col-12 xl:col-10"
  [resizableColumns]="true"
  responsiveLayout="scroll"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption">
    <p class="text-center">
      {{ description }}
    </p>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pResizableColumn *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th class="w-1">Detalhes</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let column of columns">
        {{ rowData[column.field] }}
      </td>
      <td class="w-1">
        <p-button icon="pi pi-eye " [routerLink]="[rowData.id]"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary"> your summary template </ng-template>
</p-table>
