<form
  name="addForm"
  (ngSubmit)="save()"
  [formGroup]="addForm"
  class="flex flex-auto flex-column align-content-center h-full"
>
  <div class="card mt-3 shadow-3 p-5">
    <div class="formgrid grid flex justify-content-center">
      <div class="col-8">
        <span *ngIf="addForm.get(['id'])!.value">
          <h1>ID: {{ addForm.get(['id'])!.value }}</h1>
        </span>
      </div>

      <div class="field col-8 mt-3">
        <h3>Baia</h3>
        <p-treeSelect
          formControlName="stallId"
          id="stallId"
          [options]="stalls"
          selectionMode="single"
          placeholder="Selecionar Baia"
        ></p-treeSelect>
      </div>

      <div class="field col-8 mt-3">
        <h3>Sexo</h3>
        <p-treeSelect
          formControlName="sex"
          id="sex"
          [options]="arrSex"
          selectionMode="single"
          placeholder="Selecionar Sexo"
        ></p-treeSelect>
      </div>

      <div class="field col-8 mt-3">
        <span class="p-label">
          <label for="input-netWeight">Peso</label>
          <p-inputNumber
            class="w-full border-round"
            id="input-weight"
            type="number"
            [minFractionDigits]="2"
            formControlName="weight"
          ></p-inputNumber>
        </span>
      </div>

      <div class="field col-8 mt-3">
        <h3>Data de Nascimento</h3>
        <span class="p-float-label">
          <p-calendar
            id="input-birthDate"
            formControlName="birthDate"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
          ></p-calendar>
        </span>
      </div>

      <div class="field col-8 mt-3">
        <h3>Data de Entrada</h3>
        <span class="p-float-label">
          <p-calendar
            id="input-entryDate"
            formControlName="entryDate"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
          ></p-calendar>
        </span>
      </div>

      <div class="field col-8 mt-3">
        <h3>Data de Vermifugação</h3>
        <span class="p-float-label">
          <p-calendar
            id="input-lastVermifuge"
            formControlName="lastVermifuge"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
          ></p-calendar>
        </span>
      </div>

      <div class="col-8 flex justify-content-end">
        <button
          pButton
          class="mr-3"
          type="button"
          icon="pi pi-chevron-circle-left"
          iconPos="left"
          label="Cancelar"
          routerLink="/stalls"
        ></button>
        <button
          pButton
          type="submit"
          icon="pi pi-check"
          iconPos="left"
          label="Salvar"
          [disabled]="addForm.invalid"
        ></button>
      </div>
    </div>
  </div>
</form>
